@page
@model Tp1AspNet_Sqlite.Pages.Livres.IndexModel

@{
    ViewData["Title"] = "Index";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Shop" content="FrontPage.By.Ruben.Vardanyan">
    <meta name="Furniture" content="FrontPage.By.Ruben.Vardanyan">

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/

body {
	margin: 0 auto;
	width: 90%;
	max-width: 1240px;
	font-family: 'Roboto', sans-serif;
	background-color: #f6f6f6;
}

/* Typography */

h1 {
	font-size: 28px;
	font-weight: 300;
	flex: 1;
}

h5 {
	font-weight: 500;
	line-height: 1.7em;
}

h6 {
	color: #666;
	font-size: 14px;
}

/* Product Layout */

.product-filter {
	display: flex;
	padding: 30px 0;
}

.sort {
	display: flex;
	align-self: flex-end;
}

.collection-sort {
 display: flex;
	flex-direction: column;
}

.collection-sort:first-child {
	padding-right: 20px;
}

label {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2em;
	text-transform: uppercase;
}

.products {
	display: flex;
	flex-wrap: wrap;
}

.product-card {
	display: flex;
	flex-direction: column;
	
	padding: 2%;
	flex: 1 16%;
	
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.product-image img {
    max-width: 100%;
    width: 100%;
    height: auto;
}


.product-info {
	margin-top: auto;
	padding-top: 20px;
	text-align: center;
}

    </style>
</head>

<body id="body-start">
    <h1>Book Store</h1>

    <form class="form-inline mb-4 mt-4">
        <div class="form-group mr-2">
            <label for="searchString" class="mr-2">Product Name:</label>
            <input type="text" id="searchString" name="SearchString" class="form-control" placeholder="Enter product name" value="@Model.SearchString" />
        </div>
        <div class="form-group mr-2">
            <label for="productGenre" class="mr-2">Product Genre:</label>
            <!--<select id="productGenre" name="ProductGenre" asp-items="Model." class="form-control">
                <option value="">All</option>
            </select>-->
        </div>
        <div class="form-group mr-2">
            <label for="productGenre" class="mr-2">Product Genre:</label>
            <select id="productGenre" name="productGenre" class="form-control">
                <option value="">All</option>
                @foreach (var category in Model.Livre.Select(x => x.category).Distinct())
                {
                    <option value="@category">@category</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    <a asp-page="./Commander" class="btn btn-primary btn-sm">My Cart</a>

    <div class="row products">
        @foreach (var item in Model.Livre)
        {
            <div class="product-card col-md-3 mb-4">
                <div class="product-image">
                    <img src="@item.ImagePath" alt="Product Image" class="product-image">
                </div>
                
                <div class="product-info">
                    <h5 class="mb-2">@item.titre</h5>

                    <p class ="mb-2">Price: $@item.price</p>
                </div>
                <div class="product-actions">
                   
                    <!-- Edit, Details, Delete, and Add to Cart buttons -->
                    <!--<form method="post" asp-page-handler="AddToCart" asp-route-id="@item.id">
                        <div class="form-group">
                            <label for="quantity" class="sr-only">Quantity:</label>
                            <input type="number" id="quantity" name="quantity" class="form-control" value="1" min="1" />
                        </div>
                        <button type="submit" class="btn btn-success btn-sm ml-2">Add to Cart</button>
                    </form>-->
                    <div class="text-center mt-2">
                        <form method="post" asp-page-handler="AddToCart" asp-route-livreId="@item.id" class="form-inline">
                            <div class="form-group">
                                <label for="quantity" class="sr-only">Quantity:</label>
                                <input type="number" id="quantity"  name="quantity" class="form-control" value="1" min="1" />
                            </div>
                            <button type="submit" class="btn btn-success btn-sm ml-2">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Your JavaScript or additional content goes here -->
    <!-- Bootstrap JavaScript and jQuery scripts (if needed) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+k5BFOGviv/sFegI5F5tj5yF5M" crossorigin="anonymous"></script>
</body>

   